<% backdrop_path = @attrs['backdrop_path'] %>
<% base_url      = @attrs['base_url']      %>
<% show_name     = @attrs['show_name']     %>
<% poster_path   = @attrs['poster_path']   %>
<% overview      = @attrs['overview']      %>

<h1>
  <a class="center center-text" href="<%= @attrs['homepage'] %>"><%= show_name %></a>
</h1>
<div class='row show-view-container'>
  <div class='col-sm-6'>
    <% if poster_path %>
      <img class='show-view-image' src="<%= "#{base_url}w780#{poster_path}" %>" alt="<%= "Poster image for #{show_name}" %>" >
    <% else %>
      <%= image_tag 'no_image.png', class: "show-view-image", alt: "no image available", height: "630", width: "420" %>
    <% end %>
  </div>
  <div class='col-sm-6'>
    <div class='row show-view-overview'>
      <% if overview %>
        <%= overview %>
      <% else %>
        No overview available.
      <% end %>
    </div>
    <div class='row show-view-stats'>
      <div class='stat'>
        <% @attrs['genres'].each do |genre| %>
          <span class="badge badge-secondary"><%= genre %></span>
        <% end %>
      </div>
      <div class='stat'>
        <%= "Number of seasons: #{@attrs['number_of_seasons']}" %>
      </div>
      <div class='stat'>
        <%= "Country: #{@attrs['origin_country']}" %>
      </div>
      <div class='stat'>
        <%= "Languages available:" %>
        <% @attrs['languages'].each do |language| %>
          <%= language %>
        <% end %>
      </div>
      <div class='stat'>
        <% @attrs['networks'].each do |network| %>
        <% network_name = network['name'] %>
          <img src="<%= "#{network['full_logo_path']}" %>" alt="<% "#{network_name} network logo" %>" >
        <% end %>
      </div>
    </div>
  </div>
</div>
